@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  font-family: "Permanent Marker", cursive;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url(https://raw.githubusercontent.com/tarekchaalan/TicTacToe/main/public/images/background.png) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #323232;
  color: #fff;
}

/* Global */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh; /* Height will be controlled by the body */
  color: #fff;
  gap: 20px;
}

/* Headers */
.game-info {
  display: flex;
  justify-content: space-between; /* Ensures elements are spaced out to the container's edges */
  align-items: center;
  width: 100%; /* Use the full width of the parent container */
  padding: 0 10%; /* Maintain padding on the sides */
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Tally */
.tally {
  flex: 1; /* Allows each tally to grow but with equal distribution */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center tally vertically and horizontally */
  font-size: 36px;
}

.tally.x,
.tally.o {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}
.tally.x,
div,
.tally.o,
div {
  font-size: 36px;
}

.tally.x,
div {
  margin-right: 10px;
}

.tally.y,
div {
  margin-left: 10px;
}

.tally-marks {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.numeric-score {
  font-family: Arial, sans-serif;
  font-size: 0.5em;
  font-weight: lighter;
  color: #ddd;
  margin-left: 5px;
}

/* Adjust .tally to better accommodate inline numeric scores */
.tally h2 {
  display: flex; /* Allows inline layout of header and numeric score */
  align-items: center; /* Vertically centers the text and numeric score */
  justify-content: center; /* Centers the content if necessary */
  font-size: 24px; /* Adjusted for consistency */
}

/* Board */
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 33vw;
  height: 33vw;
}

.board-row {
  display: flex;
  position: relative;
}

.square {
  width: 100%;
  height: 100%;
  font-size: 5vw; /* Adjust based on your layout needs */
  font-family: "Permanent Marker", cursive;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: transparent;
  border-right: 4px solid rgba(255, 255, 255, 1);
  border-bottom: 4px solid rgba(255, 255, 255, 1);
}

.square:nth-child(3n) {
  border-right: none;
}

/* Remove bottom border for the last row */
.square:nth-last-child(-n + 3) {
  border-bottom: none;
}

.status {
  flex: 0 1 auto; /* Flex-grow is 0, flex-shrink is 1 and flex-basis is auto */
  text-align: center; /* Ensure the status is centered */
  padding: 0 20px; /* Add padding to prevent text from touching the tallies */
  min-width: 120px; /* Minimum width to prevent squeezing */
  white-space: nowrap; /* Prevents the text from wrapping */
  font-size: 24px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.status {
  font-size: calc(12px + 1vw); /* Responsive font size */
}

.reset,
.next {
  font-family: "Permanent Marker", cursive;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: calc(12px + 1vw);
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease, border-color 0.5s ease,
    color 0.5s ease;
}

.reset:hover {
  color: red;
  background-color: #e69a9a;
  border-color: red;
}

.next:hover {
  color: blue;
  background-color: #94a1e7;
  border-color: blue;
  font-weight: bold;
}

@keyframes flash {
  0%,
  100% {
    color: blue;
    background-color: #94a1e7;
    border-color: blue;
  }
  50% {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
  }
}

.flash-active {
  animation: flash 1s infinite;
}

.highlight {
  color: green;
  border-radius: 0;
}

/* Small Changes for Responsiveness */
@media screen and (max-width: 1024px) {
  body {
    min-height: 80vh;
  }
  .board {
    width: 80vw;
    height: 80vw;
  }
  .App {
    height: 90vh;
  }
  .square {
    font-size: 9vw;
  }
  .tally.x,
  .tally.o {
    height: 80px;
  }

  .tally.x,
  div,
  .tally.o,
  div {
    font-size: 4vw;
  }
}
